.game{
    width: 255px;
    height: 300px;
    text-align: center;
    font-family: system-ui;
    color: white;
    margin: auto;
    font-weight: 500;
    border: 2px solid rgb(115, 182, 162);
}

.title{
    background:  rgb(76, 121, 107);
    padding: 5px 0;
    margin: 5px 0;
}

span{
    color: #fa0;
}

.square{
    width: 80px;
    height: 80px;
    background: rgb(138, 73, 88);
    float: left;
    margin: 2.5px;
    font-size: 50px;
}

.square:hover{
    background: #000;
    cursor: pointer;
}